.app {
    padding: 27px 35px 0 35px;
}
.content {
    display: grid;
    // grid-template-rows: min-content;
    // grid-template-columns: [center-start] repeat(
    //         8,
    //         [col-start] minmax(min-content, 14rem) [col-end]
    //     ) [center-end];
}

.header {
    display: grid;
    padding: 1rem 2rem;
    align-items: center;
    background-color: $primary-color-light-1;
    grid-column: 1 / -1;
    grid-template-columns: max-content 1fr;

    &__profile{
        padding: 1rem;
        color: $primary-color;
    }

    &__heading{
        font-size: 2.7rem;
        font-weight: 700;
    }

    &__text{
        font-size: 1.7rem;
    }

    &__maskGroup {
        display: grid;
        justify-self: end;
    }
}
