.app {
    padding: 27px 35px 0 35px;
}
.content {
    display: grid;
    // grid-template-rows: min-content;
    grid-template-columns: [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        ) [center-end];
}

.section-header{
    grid-column: 1 / -1;
}
