.card-nav{
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 1rem .5rem;
    font-size: 1.7rem;
    font-weight: bold;
    grid-template-columns: repeat(8, max-content);

    &__item{

        &:link,
        &:visited{
            text-decoration: none;
        }
    }
}