.card-nav{
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 1rem .5rem;
    font-size: 1.7rem;
    font-weight: bold;
    grid-template-columns: repeat(8, max-content);

    &__item{

        
        &:link,
        &:visited{
            color: $primary-color-light-1;
            text-decoration: none;
        }
        
        &:hover{
            color: black;
        }
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2rem;
}

.card{

    &__img{
        width: 100%;
        object-fit: cover;
    }

    &__subHeading{
        font-size: .8rem;
    }

    &__text{
        color: $primary-color-dark;
        margin: 1rem 0;
    }

    &__creator{
        display: flex;
        align-items: center;

        &--name{

        }

        &--date{
            font-size: .8rem;
        }

        &--img{
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: .3rem;
        }
    }
}